<div id="Admin">
    <div class="form-signin" style="max-width:700px; padding:15px; margin:0 auto">
        <h2>Vehicles requests..</h2>

        <div id="CardContainer">
        </div>

    </div>
</div>

<script type="text/javascript">
    var CardsData = [];
    getData();
    function getData() {
        $.ajax({
            url: '/api/Vehicles',
            type: 'POST',
            dataType: "json",
            success: function (data, textStatus, xhr) {
                if (data.Msg == "success") {
                    if (data.Vehicle.length == 0) {
                        alert("No new vehicles")
                    }
                    else {
                        CardsData = data.Vehicle;
                        DrawVihicles();
                    }
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log(xhr);
                console.log(textStatus);
                console.log(errorThrown);
            }

        });
    }

    function DrawVihicles() {
        var Result = "";
        for (var CardItem = 0; CardItem < CardsData.length; CardItem++) {
            
            Result +=
                "<div class='card' id=" + CardsData[CardItem].VehicleId+">"
                    + "<div class='card-body'>"
                        + "<h4 class='card-title'>" + CardsData[CardItem].PlateModel+"</h4>"
                        + "<p class='card-text'>Plate Number: " + CardsData[CardItem].PlateNumber +"</p>"
                        + "<p class='card-text'>Plate Text: " + CardsData[CardItem].PlateText +"</p>"
                        + "<p class='card-text'>Plate Model: " + CardsData[CardItem].PlateModel +"</p>"
                        + "<p class='card-text'>Plate Color: " + CardsData[CardItem].PlateColor + "</p>"
                        + "<button type='button' class='btn btn-success' onclick='approveRequest(" + CardsData[CardItem].VehicleId + ")'>Approve</button>"
                        + "<button type='button' class='btn btn-danger'onclick='rejectRequest(" + CardsData[CardItem].VehicleId + ")'>Reject</button>"
                    + "</div>"
                + "</div>"
                ;
        }
        $("#CardContainer").append(Result);
    }

    function approveRequest(Id) {
        $(".btn").prop('disabled', true);
        
        $.ajax({
            url: '/api/Vehicles?Id=' + Id,
            type: 'POST',
            dataType: "json",
            success: function (data, textStatus, xhr) {
                alert(data.Msg);
                if (data.Msg == "success") {
                    UpdataUI(Id);
                }

            },
            error: function (xhr, textStatus, errorThrown) {
                console.log(xhr);
                console.log(textStatus);
                console.log(errorThrown);
            }

        });
    }

    function rejectRequest(Id) {
        $(".btn").prop('disabled', true);
        $.ajax({
            url: '/api/Vehicles?Id=' + Id,
            type: 'DELETE',
            dataType: "json",
            success: function (data, textStatus, xhr) {
                alert(data.Msg);
                if (data.Msg == "success") {
                    UpdataUI(Id);
                }

            },
            error: function (xhr, textStatus, errorThrown) {
                console.log(xhr);
                console.log(textStatus);
                console.log(errorThrown);
            }

        });
    }

    function UpdataUI(Id) {
        $(".btn").prop('disabled', false);
        var CardParent = $('#'+Id);
        CardParent.css("display", "none");
    }

</script>